@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #1C1F33;
    --color-secondary: #C4904D;
    --color-background: white;
    --color-text: #333;
    --font-display: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}